body{
    background-color: rgb(255, 234, 170);
    font-family: "Nunito", serif;
}
.space-pic{
    width: calc(95%);
    margin: auto;
    display: block;
    border-radius: 5px;

}
p{
    color: rgb(32, 2, 31);
}
h2{
    color: rgb(32, 2, 31); 
    font-size: 17px;
    line-height: 1; 
    margin-bottom: 0; 
}
/* #image-map :hover{
    background-color: rgba(176, 240, 240, 0.934);
} */
#map{
    background-color: aquamarine;
}


/* pop up info */
#overlay article{
    position: absolute;
    top: 290px;
    left: 853px;
    width:250px;
    /* height: 600px; */
    padding: 7px;
    box-sizing: border-box;
    /* background-color: #ffffff9c; */
    transform: translate(-50%, -50%);
    overflow-y: scroll;
}
p{
    font-size: 11px;
    margin-top: 5px;
}
.hidden {
    visibility: hidden;
    opacity: 0;
}
.showing {
    visibility: visible;
    opacity: 1;
}