body{
    background-color: #F0D883;
    /* background-color: #FFF8DE;   */
    /* background-color: #B9DAFF;   */
    font-family: "Alatsi", serif;;
}


#opening-page{
display: none;    
}
#opening-page h1{
    color: #053e7f;
    text-align: center;
    font-size: 4em;
}
#opening-page button{
    color: #053e7f;
    display: block;
    margin: auto;
    padding: .5em;
    border: .05em solid #053e7f;
    border-radius: 12%;
    background-color: #99b2ce7f;
    font-size: 4em;
}


#form-page{
    /* display: none; */
    display: flex;
    margin: auto;
    box-sizing: border-box;
    
}
#form-page section{
    flex: 1;
    padding: 1.5em;
    width: calc(50%);
    min-width: 250px;
    margin: auto;
}
#madlib-questions{
    display: block;
    background-color: #81B4EE;
    color: #053e7f;
    border-radius: 20px;
    /* this needs to go in middle of page vertically */
}
#madlib-questions form{
    font-size: 1.2em;
}
#madlib-questions button{
    background-color: #6ECF61;
    border:none;
    border-radius: 10px;
    padding: .5em;
    font-size: 1.5em;
    /* this also needs to be centered */
    margin: auto;
}
#instructions{
    font-size: 2em;
    color: #053e7f;
}
form input, form label {
    display: block;
}

form input {
    margin-bottom: 1em;
    width: calc(80%);
    
    border-style: none;
    border-radius: 5px;
}



.madlib-results{
    /* display: none;  */
    display: flex;
    margin: auto;
    
}
.top{
    background-color: #81B4EE;
    display: flex;
    /* flex-direction: column; */
    justify-content:space-between;
    padding-left: 1em;
    padding-right: 1em;
    width: 900px;
    margin: auto;
}
.top p{
    border: 1px solid #053e7f;
    background-color: #F0D883;
    border-radius: 5px;
    width: 80px;
    text-align: center;
    padding: .7em;

}
.course{
  display: flex; 
  justify-content: space-between;
  border: 1px solid #053e7f;
  border-radius: 10px;
  background-color: antiquewhite;
  width: 850px;
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 5px;

}
.left{
 text-align: left; 
 line-height: .3em;
}
.right{
   text-align: right;
   line-height: .05em;
   /* line-height: 1px; */
}
.right button{
    background-color: #6ECF61;
    border: 1px solid #053e7f;
    border-radius: 5px;
    padding: .6em; 
    width: 130px;
    text-align: center;
    /* display: inline-block; */
}
.not button{
    background-color: #df1717;
    
}
.button{
   display: flex; 
   justify-content: space-between;
}

