body{
    /* background-color: antiquewhite; */
    font-family: "Sorts Mill Goudy", serif;
}
h1,h3{
    text-align: center;
}


a{
    display: block;
    text-align: center;
    text-decoration-line: none;
}
div{
    text-align: center;
}
button{
    text-align: center;
    display: block;
    margin: auto;
    padding: 8px;
    background-color: white;
    border-radius: 5px;
    width: 15%;
}

#shape1{
    scale: .3;
    text-align: center;
    /* z-index: -1; */
    /* display: block; */
    /* margin: auto; */
    /* animation: spin 30s infinite;
    animation-delay: 0s;
    animation-timing-function: linear;
    transform-origin: center; */
} 

#rotate {
    display: block;
    margin: auto;
    justify-content: center;
    align-items: center;
    animation: spin 30s linear infinite;
    /* transform-origin: center; */
}


circle:hover {
    /* why is this only working on the first 3 circles so weird */
    r: 45;
    transition: .5s ease-in-out;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


