body{
    /* background-color: antiquewhite; */
    font-family: "Sorts Mill Goudy", serif;
}
h1{
    font-size: 2.5em;
    text-align: center;
}
h3{
    text-align: center;
    font-size: 1.6em;
}


a{
    color: black;
    display: block;
    text-align: center;
    text-decoration-line: none;
    position: absolute;
    /* top: 1; */
    padding-left: 1em;
}
div{
    padding-top: 2em;
    text-align: center;
}
button{
    font-size: 1.2em;
    text-align: center;
    display: block;
    margin: auto;
    padding: 8px;
    background-color: white;
    border-radius: 5px;
    width: 15%;
}
#submit{
    margin-top: 2em;
}
#shape1{
    scale: 1.1;
    text-align: center;
    
} 
#rotate {
    /* from glenda: commented out the display and associated properties and just made the height and width the same as the svg dimensions which I got from Illustrator */
    /* display: block;
    justify-content: center;
    align-items: center; */
    margin: auto;
    width: 212px;
    height: 206px;
    animation: spin 30s linear infinite;
    /* transform-origin: center;  */
}


circle:hover {
    r: 55;
    transition: .3s ease-in-out;
}
button:hover{
    scale: 1.1;
    transition: .3s ease-in-out;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}